<section class="hero-section d-flex align-items-center">
    <div class="container hero-content d-flex flex-lg-row flex-column align-items-center justify-content-between">

        <!-- Mobile layout -->
    <div class="d-flex align-items-center mb-3 d-lg-none animate-slide-up">
        <img src="assets/img/madan.png" alt="Madan" class="hero-image-mobile me-3 animate-bounce-in flip-image" />
        <h1 class="hero-title mb-0 p-1">Be Mad,<br />Step Forward</h1>
    </div>

        <!-- Desktop layout -->
        <div class="text-content animate-fade-left">
            <h1 class="d-none d-lg-block">Be Mad,<br />Step Forward</h1>
            <h2>Empowering Innovation, Driving Success</h2>
            <p class="hero-sub">Join our journey of transformation — learn, build, and get deployed.</p>
            <p class="hero-sub">We turn passionate learners into skilled professionals by offering hands-on training,
                real-time project exposure, and job-ready skills in full-stack development, cloud computing, and more.
            </p>
            <a [routerLink]="'../../offers/trainingprogram'" class="btn-get-started">Get Started</a>
        </div>

        <div class="image-content d-none d-lg-block animate-fade-right">
            <img src="assets/img/madan.png" alt="Madan" class="hero-image" />
        </div>

    </div>
</section>