<!-- <router-outlet></router-outlet> -->
<app-header></app-header>
<router-outlet></router-outlet>
<!-- or use fas fa-comment-dots -->
<!-- <button class="chat-icon" (click)="showChat = !showChat">
    <i class="bi bi-chat-dots-fill"></i>
    
</button> -->

<!-- WhatsApp at bottom -->
<a href="https://wa.me/917204185064?text=Hi%20Misard%20Team!" class="whatsapp-float" target="_blank">
    <img src="assets/img/whatsapp.png" alt="WhatsApp" />
</a>

<!-- Call button above WhatsApp -->
<a href="tel:+917204185064" class="call-us-btn">
    <i class="bi bi-telephone-fill">  Any Support</i>
</a>

<app-footer></app-footer>
<!-- Chat box component -->
<!-- <app-chat-box *ngIf="showChat"></app-chat-box> working on the internal Projects page-->