<main id="main" class="about-section">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" style="background-color: #144164;" data-aos="zoom-in">
    <div class="container">
      <h2 data-aos="fade-up" data-aos-duration="1000">About Us</h2>
      <p data-aos="fade-up" data-aos-delay="200">
        Welcome to <strong>Misard</strong>
        — where future-ready professionals and innovative products are built side by side.
        We are not just a tech company; we are a hub of transformation, offering hands-on training in frontend, backend,
        databases, and cloud technologies. Our mission is simple: <strong>Train. Deploy. Deliver.</strong>
        <br><br>
        We empower fresh talent through real-time training programs and deploy top performers into client locations or
        our
        own
        flagship products — <em>Nyayabharth, Agrivikas, and SmartLife</em>. At Misard, we don't just build software —
        <strong>we build careers and solutions that matter.</strong>
      </p>
      <a [routerLink]="'/contactus'" class="btn btn-primary mt-3" data-aos="zoom-in"
        style="background-color:#fff;color:#144164;padding:10px 25px;border-radius:30px;">Get in Touch</a>

    </div>
  </div>

  <!-- End Breadcrumbs -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2 mt-2" data-aos="zoom-in" data-aos-delay="100">
          <img src="/assets/img/visionbehind.png" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="200">
          <div class="section-title" data-aos="fade-up">
            <h2>Who We Are</h2>
            <p>Meet the vision behind Misard</p>
          </div>
          <p class="fst-italic">
            Misard is more than just a technology company; we are your strategic
            partner in digital transformation. Our dedicated team of experts is
            committed to delivering tailored solutions that address your unique
            business needs.
          </p>
          <ul>
            <li data-aos="zoom-in" data-aos-delay="500">
              <i class="bi bi-check-circle"></i> We provide innovative solutions
              tailored to your specific needs.
            </li>
            <li data-aos="zoom-in" data-aos-delay="500">
              <i class="bi bi-check-circle"></i> Our commitment to excellence
              ensures the highest quality products and services.
            </li>
            <li data-aos="zoom-in" data-aos-delay="500">
              <i class="bi bi-check-circle"></i> With years of experience, we
              have the expertise to tackle any challenge and deliver results
              that exceed expectations.
            </li>
          </ul>
          <p>
            At Misard, innovation is at the heart of everything we do. We
            leverage the latest technologies and industry best practices to
            drive digital transformation and help our clients stay ahead in
            today's competitive landscape.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container">
      <div class="row counters">
        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1"
            class="purecounter"></span>
          <p data-aos="zoom-in" data-aos-delay="500">Happy Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1"
            class="purecounter"></span>
          <p data-aos="zoom-in" data-aos-delay="500">Projects Completed</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1"
            class="purecounter"></span>
          <p data-aos="zoom-in" data-aos-delay="500">Years of Experience</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
            class="purecounter"></span>
          <p data-aos="zoom-in" data-aos-delay="500">Team Members</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Counts Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Testimonials</h2>
        <p>What are they saying</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <!-- src="/assets/img/testimonials/testimonials-1.jpg" -->
                <img src="" class="testimonial-img" alt="" />
                <h3>Ramesh</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  "Working with Misard has been a game-changer for our business.
                  Their innovative software solutions have streamlined our
                  operations and enhanced our productivity. The team at Misard
                  is not just a service provider; they are true partners who are
                  deeply invested in our success. Their professionalism,
                  expertise, and unwavering support make them a valuable asset
                  to any organization looking to thrive in today's digital
                  landscape."
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="" class="testimonial-img" alt="" />
                <h3>Praveen</h3>
                <h4>Designer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  "Working with Misard has been a pleasure. Their
                  professionalism and attention to detail are commendable. They
                  understand our requirements perfectly and deliver solutions
                  that exceed our expectations. Misard is our go-to partner for
                  all our software needs, and we highly recommend them to anyone
                  seeking reliable and innovative IT solutions."
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="" class="testimonial-img" alt="" />
                <h3>Chaitanya</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  As a passionate advocate for cutting-edge technology, I've
                  always sought out partners who share my vision for innovation.
                  That's why I chose Misard for all my software needs. Misard
                  isn't just a vendor; they're a trusted partner who understands
                  my business goals and delivers tailored solutions that exceed
                  my expectations. With their expertise in software development
                  and commitment to excellence, Misard has empowered my company
                  to thrive in today's competitive landscape. I highly recommend
                  Misard to any business looking to leverage the power of
                  technology for growth and success.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="" class="testimonial-img" alt="" />
                <h3>Prabhakar</h3>
                <h4>CEO of Growtonmartech</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  As a seasoned software developer, I've collaborated with
                  numerous companies throughout my career. However, my
                  experience with Misard has been nothing short of exceptional.
                  Their team's technical prowess and dedication to excellence
                  have made them stand out in the industry. Whether it's
                  developing custom software solutions or providing top-notch
                  services, Misard consistently delivers results that surpass
                  expectations. Their innovative approach and attention to
                  detail have truly set them apart as a leader in the software
                  industry. I'm proud to recommend Misard to anyone seeking
                  reliable and cutting-edge software solutions.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="" class="testimonial-img" alt="" />
                <h3>Maregowda</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  At Misard, innovation isn't just a buzzword; it's a way of
                  life. Their relentless pursuit of excellence and commitment to
                  pushing boundaries make them a force to be reckoned with in
                  the tech industry. As a tech enthusiast, I've had the pleasure
                  of witnessing Misard's transformative impact firsthand. From
                  pioneering software solutions to revolutionizing service
                  delivery, Misard continues to redefine the possibilities of
                  technology. Their forward-thinking approach and unwavering
                  dedication to their craft make them the go-to choice for
                  anyone seeking to stay ahead in the digital age.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->
</main>
<!-- End #main -->